* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
.one {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* nav部分 */
nav {
  font-size: 18px;
  z-index: 200;
  width: 100%;
  max-height: 64px;
  height: 60px;
  position: absolute;
}
nav .navs {
  width: 90%;
  height: 100%;
  line-height: 60px;
  margin: 0 auto;
}
nav .navs .logo {
  width: 15%;
  float: left;
  margin-top: -10px;
}
nav .navs .logo img {
  width: 90%;
}
nav .list_nav {
  float: right;
  width: 80%;
  height: 100%;
  margin-left: 30px;
}
nav .list_nav li {
  list-style: none;
  float: left;
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  text-align: center;
  font-size: 15px;
  color: white;
  margin-left: 5px;
  font-weight: 700;
}
nav .list_nav li a {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
nav .list_nav li ::before {
  content: '';
  position: absolute;
  right: 0px;
  width: 1px;
  height: 22px;
  background-color: #fff;
  top: 19px;
}
@media (max-width: 800px) {
  nav {
    font-size: 18px;
    z-index: 200;
    width: 100%;
    max-height: 64px;
    height: 50px;
  }
  nav .navs {
    width: 100%;
    height: 100%;
    line-height: 60px;
    margin: 0 auto;
  }
  nav .navs span {
    font-size: 11px;
  }
  nav .navs .logo {
    width: 15%;
    height: 40px;
    float: left;
    margin-top: -5px;
  }
  nav .navs .logo img {
    width: 100%;
    height: 100%;
  }
  nav .list_nav {
    float: right;
    width: 75%;
    height: 100%;
  }
  nav .list_nav li {
    list-style: none;
    float: left;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    text-align: center;
    font-size: 12px;
    color: black;
  }
  nav .list_nav li a {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    text-decoration: none;
    color: black;
  }
  nav .list_nav li ::before {
    content: '';
    position: absolute;
    right: 0px;
    width: 1px;
    height: 22px;
    background-color: #fff;
    top: 19px;
  }
}
.lunbo {
  width: 100%;
  height: 80%;
  max-height: 600px;
  background-color: red;
}
.lunbo .swiper-container {
  width: 100%;
  height: 100%;
}
.lunbo .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
}
.lunbo .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.lunbo .swiper-container .swiper-pagination span {
  width: 20px;
  height: 20px;
  background-color: white;
}
.hovers {
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  height: 20%;
}
.hovers ul {
  margin-top: -10px;
}
.hovers ul li {
  padding-top: 7px;
  height: 125px;
  float: left;
  width: 25%;
  padding-top: 10px;
  list-style: none;
  text-align: center;
  transform: scale(1);
  transition: all 0.8s ease 0s;
}
.hovers ul li .back {
  width: 80px;
  height: 70px;
  display: inline-block;
}
.hovers ul li p {
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin-left: -5px;
}
.hovers ul li:hover {
  transform: scale(1.2);
  z-index: 999;
  background-color: #a7cf53;
}
.hovers ul li:hover p {
  color: white;
}
.hovers ul :nth-child(1) .back {
  background: url("../image/h_icon01.png") no-repeat center;
  background-size: 70px 60px;
}
.hovers ul :nth-child(2) .back {
  background: url("../image/h_icon02.png") no-repeat center;
  background-size: 70px 60px;
}
.hovers ul :nth-child(3) .back {
  background: url("../image/h_icon03.png") no-repeat center;
  background-size: 70px 60px;
}
.hovers ul :nth-child(4) .back {
  background: url("../image/h_icon04.png") no-repeat center;
  background-size: 70px 60px;
}
.hovers ul :nth-child(1):hover .back {
  background: url("../image/h_icon01_hover.png") no-repeat center;
  background-size: 70px 60px;
}
.hovers ul :nth-child(2):hover .back {
  background: url("../image/h_icon02_hover.png") no-repeat center;
  background-size: 70px 60px;
}
.hovers ul :nth-child(3):hover .back {
  background: url("../image/h_icon03_hover.png") no-repeat center;
  background-size: 70px 60px;
}
.hovers ul :nth-child(4):hover .back {
  background: url("../image/h_icon04_hover.png") no-repeat center;
  background-size: 70px 60px;
}
.two {
  width: 100%;
  height: 100%;
}
.two .animate-one {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}
.two .animate-one .rotates {
  position: absolute;
  top: 22%;
  left: 15%;
  width: 70%;
  height: 65%;
  background-color: red;
  background: url("../image/img_2.png") no-repeat center;
  background-size: 97% 97%;
}
.two .animate-one .rotates ul li {
  list-style: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}
.two .animate-one .rotates ul li::after {
  content: " ";
  display: inline-block;
  width: 130px;
  height: 130px;
  background-size: 150px 150px;
  position: absolute;
  left: -26px;
  top: -26px;
  animation: gedan 6s linear infinite;
  background: url("../image/iconbg.png") no-repeat center;
  background-size: 130px 130px;
}
.two .animate-one .rotates ul li.xiezuo::after,
.two .animate-one .rotates li.pmo::after {
  left: -20px;
  top: -20px;
}
@-webkit-keyframes gedan {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.two .animate-one .rotates .it {
  background: url("../image/title_1.png") no-repeat center;
  background-size: 75% 50%;
  background-color: #a7d3af;
  left: 155px;
  top: 35px;
}
.two .animate-one .rotates .keji {
  background: url("../image/title_3.png") no-repeat center;
  background-size: 75% 50%;
  background-color: #01a2ea;
  left: 35px;
  top: 220px;
}
.two .animate-one .rotates .xiezuo {
  background: url("../image/title_4.png") no-repeat center;
  background-size: 75% 50%;
  background-color: #fed201;
  width: 90px;
  height: 90px;
  left: 200px;
  top: 250px;
}
.two .animate-one .rotates .pmo {
  background: url("../image/title_2.png") no-repeat center;
  background-size: 75% 50%;
  background-color: #00a6b1;
  width: 90px;
  height: 90px;
  left: 560px;
  top: 60px;
}
.two .animate-one .rotates .jiagou {
  background: url("../image/title_5.png") no-repeat center;
  background-size: 75% 50%;
  background-color: #a0d9f6;
  left: 670px;
  top: 180px;
}
.two .animate-one .wawa {
  display: inline-block;
  width: 323px;
  height: 353px;
  background: url("../image/img_1.png") no-repeat center;
  background-size: 323px 353px;
  position: absolute;
  top: 230px;
  left: 450px;
}
.there {
  width: 100%;
  height: 100%;
  background-color: #00a6b1;
  text-align: center;
  position: relative;
}
.there .texts {
  position: absolute;
  top: 10px;
  left: 40%;
}
.there h1,
.there h3 {
  color: white;
}
.there .there_bottom {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 130px;
  left: 15%;
}
.there .there_bottom img {
  width: 100%;
  height: 100%;
}
.there .right_yun {
  display: inline-block;
  width: 160px;
  height: 65px;
  background: url("../image/cloud1.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 180px;
  top: 45px;
  animation: rights 3s linear infinite;
}
.there .left_yun {
  display: inline-block;
  width: 160px;
  height: 65px;
  background: url("../image/cloud2.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  left: 180px;
  bottom: 45px;
  animation: lefts 3s linear infinite;
}
@-webkit-keyframes rights {
  0% {
    right: 180px;
  }
  50% {
    right: 230px;
  }
  100% {
    right: 180px;
  }
}
@-webkit-keyframes lefts {
  0% {
    left: 180px;
  }
  50% {
    left: 230px;
  }
  100% {
    left: 180px;
  }
}
.four {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f8f8ff;
}
.four .four_text {
  position: absolute;
  top: 10px;
  left: 45%;
  text-align: center;
}
.four .four_text h1 {
  color: #139ca6;
}
.four .four_bottom {
  width: 68%;
  height: 75%;
  position: absolute;
  top: 130px;
  left: 18%;
}
.four .four_bottom img {
  width: 100%;
  height: 100%;
}
.footer {
  width: 100%;
  height: 100%;
  background-color: #404040;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
}
.footer .foot {
  width: 100%;
  height: 71%;
}
.footer .foot dl::before {
  display: block;
  content: "";
  width: 13%;
  height: 1px;
  background-color: #139ca6;
  position: absolute;
  top: 103px;
  left: -50px;
}
.footer .foot dl {
  margin-top: 9.8%;
  position: relative;
}
.footer .foot dl dd::after {
  display: block;
  content: "";
  width: 60%;
  height: 1px;
  background-color: #139ca6;
  position: absolute;
  top: 44%;
  left: 89%;
}
.footer .foot dl dd {
  width: 25%;
  height: 100%;
  margin-left: 75px;
  position: relative;
  float: left;
  text-align: center;
}
.footer .foot dl dd div {
  margin: 0 auto;
  width: 174px;
  height: 174px;
  border: 13px solid #139ca6;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}
.footer .foot dl dd div img {
  width: 75%;
  height: 75%;
  margin-top: 13%;
  text-align: center;
}
.footer .foot dl dd h1 {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 1px solid #139ca6;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 120px;
  color: #139ca6;
}
.footer .foot dl dd p {
  margin-top: 15px;
}
.footer .foot dl dd p a {
  text-decoration: none;
  color: white;
}
.footer .foot dl .liebiao {
  top: 40px;
}
.footer .foot dl .liebiao::after {
  top: 66px;
  left: 80%;
}
.footer .neironga .uls {
  margin-top: -70px;
  list-style: none;
}
.footer .neironga .uls div {
  width: 144px;
  height: 43px;
  border: 1px solid #139ca6;
  border-radius: 30px;
  text-align: center;
  line-height: 43px;
  color: #139ca6;
  float: left;
  margin-left: 10%;
  position: relative;
  top: -10px;
  left: -10px;
}
.footer .neironga .uls li {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  position: relative;
}
.footer .neironga .uls li a {
  color: white;
  text-decoration: none;
}
.footer .neironga .uls li::before {
  display: block;
  content: "";
  width: 1px;
  height: 20px;
  background-color: #139ca6;
  position: absolute;
  top: 0px;
  left: -17px;
}
.footer .banquan {
  margin-top: 50px;
  float: left;
  color: #139ca6;
}
.footer .banquan a {
  color: white;
  text-decoration: none;
}
