.same_img {
    position: relative;
    display: block;
    margin: 0 auto;
    line-height: 104px;
    text-align: center;
    transition: all 0.5s;
}

.sa_img {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    z-index: 10;
}

header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    font-size: 18px;
}

header .header_box {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header .header_box .logo a {
    float: left;
    background: url(../image/zyx_logo.png) no-repeat center center;
    width: 167px;
    height: 62px;
}

header .header_box .lianxi {
    line-height: 60px;
    float: right;
    color: #fff;
}

header .header_box .nav {
    float: left;
    overflow: hidden;
}

header .header_box .nav li {
    float: left;
    padding: 0 28px;
    list-style: none;
}

header .header_box .nav li>a {
    display: block;
    position: relative;
    color: #fff;
    height: 60px;
    line-height: 60px;
}

header .header_box .nav li>a:before {
    content: '';
    position: absolute;
    top: 19px;
    right: -28px;
    width: 1px;
    height: 22px;
    background-color: #fff;
}

header .header_box .nav li .sub_box {
    display: none;
    z-index: 1000;
    width: 100%;
    position: absolute;
    left: 0;
    top: 63px;
    background: rgba(0, 0, 0, 0.35);
}

header .header_box .nav li .sub_box dl {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    height: 348px;
}

header .header_box .nav li .sub_box dl .only {
    margin-left: 12.5%;
}

header .header_box .nav li .sub_box dl dd {
    float: left;
    padding-top: 75px;
    width: 25%;
    height: 235px;
}

header .header_box .nav li .sub_box dl dd:hover .imgs {
    box-shadow: 0 0 10px 50px rgba(255, 255, 255, 0) inset;
}

header .header_box .nav li .sub_box dl dd:hover .imgs:before {
    transform: scale(1);
    background-color: #acd146;
}

header .header_box .nav li .sub_box dl dd:hover .lj {
    opacity: 1 !important;
    transform: translateY(50px) !important;
}

header .header_box .nav li .sub_box dl dd .imgs {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff inset;
    position: relative;
    display: block;
    margin: 0 auto;
    line-height: 104px;
    text-align: center;
    transition: all 0.5s;
}

header .header_box .nav li .sub_box dl dd .imgs img {
    top: 16px;
    width: 52px;
    height: 52px;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    z-index: 10;
}

header .header_box .nav li .sub_box dl dd .imgs:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.5s;
}

header .header_box .nav li .sub_box dl dd p {
    padding-top: 26px;
    display: block;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.3s;
    text-align: center;
    color: #fff;
}

header .header_box .nav li .sub_box dl dd .lj {
    display: block;
    text-align: center;
    opacity: 0;
    transform: translateY(-40px);
    transition: all 0.5s 0.1s;
}

header .header_box .nav li .sub_box dl dd .lj a {
    font-size: 20px;
    color: #fff;
    background: #8fc31f;
    padding: 5px 15px;
    border-radius: 20px;
}

header .header_box .nav li .sub_box dl .last {
    position: relative;
}

header .header_box .nav li .sub_box dl .last:hover .gz {
    opacity: 1;
}

header .header_box .nav li .sub_box dl .last .img3 {
    width: 78px;
    height: 64px;
    position: relative;
    display: block;
    margin: 0 auto;
    line-height: 104px;
    text-align: center;
    transition: all 0.5s;
}

header .header_box .nav li .sub_box dl .last .img3 img {
    width: 93px;
    height: 93px;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    z-index: 10;
}

header .header_box .nav li .sub_box dl .last p {
    padding-top: 47px !important;
}

header .header_box .nav li .sub_box dl .last .gz {
    opacity: 0;
    transition: all 0.5s 0.1s;
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    z-index: 10;
}


/* nav {
    font-size: 18px;
    z-index: 200;
    width: 100%;
    max-height: 64px;
    height: 60px;
    position: absolute;
}

nav .navs {
    width: 90%;
    height: 100%;
    line-height: 60px;
    margin: 0 auto;
}

nav .navs .logo {
    width: 15%;
    float: left;
    margin-top: -10px;
}

nav .navs .logo img {
    width: 90%;
}

nav .list_nav {
    float: right;
    width: 80%;
    height: 100%;
    margin-left: 30px;
}

nav .list_nav li {
    list-style: none;
    float: left;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-left: 5px;
    font-weight: 700;
}

nav .list_nav li a {
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav .list_nav li ::before {
    content: '';
    position: absolute;
    right: 0px;
    width: 1px;
    height: 22px;
    background-color: #fff;
    top: 19px;
}

@media (max-width: 800px) {
    nav {
        font-size: 18px;
        z-index: 200;
        width: 100%;
        max-height: 64px;
        height: 50px;
    }

    nav .navs {
        width: 100%;
        height: 100%;
        line-height: 60px;
        margin: 0 auto;
    }

    nav .navs span {
        font-size: 11px;
    }

    nav .navs .logo {
        width: 15%;
        height: 40px;
        float: left;
        margin-top: -5px;
    }

    nav .navs .logo img {
        width: 100%;
        height: 100%;
    }

    nav .list_nav {
        float: right;
        width: 75%;
        height: 100%;
    }

    nav .list_nav li {
        list-style: none;
        float: left;
        height: 100%;
        padding-left: 3%;
        padding-right: 3%;
        position: relative;
        text-align: center;
        font-size: 12px;
        color: black;
    }

    nav .list_nav li a {
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        text-decoration: none;
        color: black;
    }

    nav .list_nav li ::before {
        content: '';
        position: absolute;
        right: 0px;
        width: 1px;
        height: 22px;
        background-color: #fff;
        top: 19px;
    }
}
 */
