* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
#menu {
  position: fixed;
  right: 2%;
  top: 20%;
  z-index: 10;
}
#menu li {
  border: 1px solid #fff;
  width: 58px;
  height: 58px;
  margin-bottom: 7px;
  position: relative;
  display: table;
  background-color: #a7cc53;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
#menu li span {
  font-style: normal;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  height: 58px;
  line-height: 20px;
  position: relative;
  z-index: 2;
  width: 58px;
}
.one_b {
  width: 100%;
  height: 798px;
  background-color: #6bc9f6;
  padding-top: 70px;
}
.one_b .one_c {
  width: 64%;
  height: 625px;
  margin: 0 auto;
  position: relative;
}
.one_b .one_c .tit {
  padding-left: 360px;
  color: #fff;
  font-size: 40px;
}
@keyframes dong {
  0% {
    padding-left: 90px;
    opacity: 1;
  }
  50% {
    padding-left: 0;
    opacity: 0.7;
  }
  100% {
    padding-left: 90px;
    opacity: 1;
  }
}
@keyframes dong1 {
  0% {
    padding-left: 0;
    opacity: 0.7;
  }
  50% {
    padding-left: 90px;
    opacity: 1;
  }
  100% {
    padding-left: 0;
    opacity: 0.7;
  }
}
.one_b .one_c .tit dl:nth-child(1) {
  animation: ease-in infinite 6s dong;
}
.one_b .one_c .tit dl:nth-child(1) span {
  font-size: 64px;
}
.one_b .one_c .tit dl:nth-child(2) {
  padding-left: 90px;
  animation: ease-in infinite 6s dong1;
}
.one_b .one_c .img .search {
  opacity: 1;
  background: url(../image/02_mcq.png) no-repeat;
  width: 213px;
  height: 228px;
  position: absolute;
  bottom: -180px;
  left: 340px;
  z-index: 20;
}
.one_b .one_c .img .search::before {
  transition: all 1s;
  background: url(../image/03_mcq.png) no-repeat center center;
  width: 146px;
  height: 146px;
  border-radius: 50%;
  position: absolute;
  content: '';
  right: 13px;
  top: 14px;
  opacity: 0;
}
.one_b .one_c .img .one::before {
  opacity: 1;
}
.one_b .one_c .detail {
  clear: both;
  overflow: hidden;
  padding: 0 153px;
  margin-top: -100px;
  z-index: 10;
  position: relative;
}
.one_b .one_c .detail a.cur {
  background-color: #00a6b1;
  border-color: #00a6b1;
  color: #fff;
  float: right;
}
.one_b .one_c .detail a {
  padding: 10px 35px;
  font-size: 27px;
  color: #00a6b1;
  border: 1px solid #00a6b1;
  border-radius: 30px;
  display: inline-block;
  color: #fff;
  border-color: #fff;
  transition: all 1s;
}
.one_b .one_c .detail a:hover {
  border-color: #00a6b1;
  background-color: #00a6b1;
  color: #fff;
}
.one_q {
  width: 100%;
  height: 1030px;
}
.one_q .title {
  text-align: center;
  font-size: 60px;
  color: #139ca6;
  padding-top: 150px;
  padding-bottom: 62px;
}
.one_q .ban1 {
  width: 100%;
  height: 750px;
  padding-top: 133px;
  background: url("../image/02_mcq.jpg") no-repeat;
}
.one_q .ban1 .ban_c {
  width: 64%;
  height: 500px;
  margin: 0 auto;
}
.one_q .ban1 .ban_c dd {
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
  min-height: 500px;
}
.one_q .ban1 .ban_c dd figure {
  text-indent: -999em;
  height: 378px;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}
.one_q .ban1 .ban_c dd figure::before {
  transition: all 0.5s;
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  height: 0;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center top;
}
.one_q .ban1 .ban_c dd h1 {
  font-weight: normal;
  font-size: 24px;
  padding: 20px 0;
  margin: 0;
  position: relative;
}
.one_q .ban1 .ban_c dd:nth-child(1) figure::before {
  background-image: url(../image/4_mcq.png);
}
.one_q .ban1 .ban_c dd:hover figure::before {
  height: 380px;
}
.one_q .ban1 .ban_c dd:nth-child(1) h1 {
  color: #8fc31f;
}
.one_q .ban1 .ban_c dd:nth-child(1) figure {
  background-image: url(../image/04_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(2) figure {
  background-image: url(../image/05_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(2) figure::before {
  background-image: url(../image/5_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(3) figure {
  background-image: url(../image/06_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(3) figure::before {
  background-image: url(../image/6_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(4) figure {
  background-image: url(../image/07_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(4) figure::before {
  background-image: url(../image/7_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(5) figure {
  background-image: url(../image/08_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(5) figure::before {
  background-image: url(../image/8_mcq.png);
}
.one_q .ban1 .ban_c dd:nth-child(2) h1 {
  color: #a7d3af;
}
.one_q .ban1 .ban_c dd:nth-child(3) h1 {
  color: #a0d9f6;
}
.one_q .ban1 .ban_c dd:nth-child(4) h1 {
  color: #00a0e9;
}
.one_q .ban1 .ban_c dd:nth-child(5) h1 {
  color: #139ca6;
}
.one_q .ban1 .ban_c .hover h1::before {
  transition: all 1s;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #8fc31f;
  bottom: 30px;
  left: 50%;
  margin-left: -8px;
  opacity: 0;
}
.one_q .ban1 .ban_c .hover:hover h1::before {
  bottom: 0;
  opacity: 1;
}
.one_q .ban1 .ban_c .hover .hide_job {
  position: absolute;
  background-color: #f2f2f2;
  width: 156px;
  top: 452px;
  font-size: 18px;
  left: 50%;
  margin-left: -78px;
  opacity: 0;
  transition: all 1s;
}
.one_q .ban1 .ban_c .hover .hide_job li {
  height: 44px;
  line-height: 44px;
}
.one_q .ban1 .ban_c .hover .hide_job li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #000;
}
.one_q .ban1 .ban_c .hover .hide_job li:hover a {
  background-color: #8fc31f;
  color: #fff;
}
.one_q .ban1 .ban_c dd:hover .hide_job {
  opacity: 1;
}
.one_m {
  width: 100%;
  height: 580px;
  background-color: #6bc9f6;
  color: #000;
}
.one_m .auto {
  width: 64%;
  margin: 0 auto;
  background: url(../image/03_mcq.jpg) no-repeat left bottom;
  height: 580px;
  box-sizing: border-box;
  padding-left: 550px;
}
.one_m .auto dl {
  text-align: center;
  font-size: 30px;
  color: #000;
  padding-top: 160px;
  padding-bottom: 130px;
}
.one_m .auto dl span {
  color: #faee00;
  font-size: 35px;
}
.one_m .auto .detail {
  padding-left: 130px;
  padding-right: 97px;
  overflow: hidden;
  clear: both;
}
.one_m .auto .detail a {
  transition: all 1s;
  float: left;
  font-size: 23px;
  color: #fff;
  border-color: #fff;
  padding: 10px 35px;
  border: 1px solid #fff;
  border-radius: 30px;
  display: inline-block;
}
.one_m .auto .detail a:hover {
  border-color: #00a6b1;
  background: #00a6b1;
}
.one_m .auto .detail a:last-child {
  float: right;
}
.one_m .auto .tips {
  padding-top: 26px;
  padding-left: 128px;
  color: #fff;
  font-size: 12px;
}
.one_t {
  width: 64%;
  height: 771px;
  padding-top: 40px;
  margin: 0 auto;
}
.one_t .about_title {
  text-align: center;
  font-size: 64px;
  padding-bottom: 50px;
  color: #00a6b1;
}
.one_t .about_title ul {
  padding: 0 76px;
}
.one_t ul figure {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  transform: rotateY(0deg);
  transition: all ease 0.5s;
}
.one_t ul li {
  float: left;
  width: 174px;
  text-align: center;
  color: #139ca6;
  font-size: 18px;
  padding: 36px 0;
}
.one_t ul li:nth-child(1) figure {
  background-color: #2ea7e0;
}
.one_t ul li:nth-child(2) figure {
  background-color: #54ceea;
}
.one_t ul li:nth-child(3) figure {
  background-color: #e36156;
}
.one_t ul li:nth-child(4) figure {
  background-color: #139ca6;
}
.one_t ul li:nth-child(5) figure {
  background-color: #8fc31f;
}
.one_t ul li:nth-child(6) figure {
  background-color: #00a29a;
}
.one_t ul li:nth-child(7) figure {
  background-color: #db414e;
}
.one_t ul li:nth-child(8) figure {
  background-color: #b7a6c5;
}
.one_t ul li:nth-child(9) figure {
  background-color: #f39800;
}
.one_t ul li:nth-child(10) figure {
  background-color: #214b6f;
}
.one_t ul li:nth-child(11) figure {
  background-color: #578fc0;
}
.one_t ul li:nth-child(12) figure {
  background-color: #54ceea;
}
.one_t ul img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  z-index: 2;
}
.one_t ul span {
  padding-top: 45px;
  display: block;
}
.one_t ul li:hover figure {
  transform: rotateY(180deg);
  transition: all ease 0.5s;
  background-color: #000;
}
#nus {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#nus li {
  width: 16%;
}
.footer {
  width: 100%;
  height: 100%;
  background-color: #404040;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
}
.footer .foot {
  width: 100%;
  height: 71%;
}
.footer .foot dl::before {
  display: block;
  content: "";
  width: 13%;
  height: 1px;
  background-color: #139ca6;
  position: absolute;
  top: 103px;
  left: -50px;
}
.footer .foot dl {
  margin-top: 9.8%;
  position: relative;
}
.footer .foot dl dd::after {
  display: block;
  content: "";
  width: 60%;
  height: 1px;
  background-color: #139ca6;
  position: absolute;
  top: 44%;
  left: 89%;
}
.footer .foot dl dd {
  width: 25%;
  height: 100%;
  margin-left: 75px;
  position: relative;
  float: left;
  text-align: center;
}
.footer .foot dl dd div {
  margin: 0 auto;
  width: 174px;
  height: 174px;
  border: 13px solid #139ca6;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}
.footer .foot dl dd div img {
  width: 75%;
  height: 75%;
  margin-top: 13%;
  text-align: center;
}
.footer .foot dl dd h1 {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 1px solid #139ca6;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 120px;
  color: #139ca6;
}
.footer .foot dl dd p {
  margin-top: 15px;
}
.footer .foot dl dd p a {
  text-decoration: none;
  color: white;
}
.footer .foot dl .liebiao {
  top: 40px;
}
.footer .foot dl .liebiao::after {
  top: 66px;
  left: 80%;
}
.footer .neironga .uls {
  margin-top: -70px;
  list-style: none;
}
.footer .neironga .uls div {
  width: 144px;
  height: 43px;
  border: 1px solid #139ca6;
  border-radius: 30px;
  text-align: center;
  line-height: 43px;
  color: #139ca6;
  float: left;
  margin-left: 10%;
  position: relative;
  top: -10px;
  left: -10px;
}
.footer .neironga .uls li {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  position: relative;
}
.footer .neironga .uls li a {
  color: white;
  text-decoration: none;
}
.footer .neironga .uls li::before {
  display: block;
  content: "";
  width: 1px;
  height: 20px;
  background-color: #139ca6;
  position: absolute;
  top: 0px;
  left: -17px;
}
.footer .banquan {
  margin-top: 50px;
  float: left;
  color: #139ca6;
}
.footer .banquan a {
  color: white;
  text-decoration: none;
}
