<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>赞同科技股份有限公司</title>
    <link rel="stylesheet" href="css/rczp.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
    <!--头部栏目-->
    <nav>
		<div class="navs">
			<a href="#" class="logo"><img src="image/logo.png" alt=""></a>
			<ul class="list_nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="index2.html">产品</a></li>
				<li><a href="endorse.html">服务支持</a></li>
				<li><a href="ztzx.html">赞同资讯</a></li>
				<li><a href="rczp.html">人才招聘</a></li>
				<li><a href="TXL_About Agree.html">关于赞同</a></li>
			</ul>
		</div>
	</nav>
    <!--侧栏-->
    <div id="menu">
        <ul>
            <li class="l1">
                <span class="activvve">首屏</span>
            </li>
            <li class="l1">
                <span class="activvve">岗位</br>分类 </span>
            </li>
            <li class="l1">
                <span class="activvve">投递 <br> 简历</span>
            </li>
            <li class="l1">
                <span class="activvve">福利 <br>待遇 </span>
            </li>
        </ul>
    </div>
    <!--主题-->
    <div class="one_b">
        <div class="one_c">
            <div class="tit">
                <dl><span>点赞</span>你的生活</dl>
                <dl>从这一份工作开始</dl>
            </div>
            <div class="img">
                <div class="search" id="search" style="display: none;"></div>
                <img src="image/01_mcq.jpg" alt="" style="width:100%;" >
            </div>
            <div class="detail">
                <a href="/job/index_40.aspx" class="cur">社会招聘</a>
                <a href="/job/index_41.aspx">校园招聘</a>
            </div>
        </div>
    </div>
    <!--主题二-->
    <div class="one_q">
        <div class="title">岗位分类</div>
        <div class="ban1">
            <div class="ban_c">
                <dl>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=5&amp;itemid=30">
                            <figure>人物</figure>
                            <h1>管理族</h1>
                        </a>
                    </dd>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=4&amp;itemid=28">
                            <figure>人物</figure>
                            <h1>咨询族</h1>
                        </a>
                    </dd>
                    <dd class="hover">
                        <a href="javascript:void(0);">
                            <figure>人物</figure>
                            <h1>技术族</h1>
                        </a>
                        <div class="hide_job">
                            <ul class="ul">

                                <li><a href="/job/info_54.aspx?lcid=8&amp;itemid=90">研发类</a></li>

                                <li><a href="/job/info_54.aspx?lcid=7&amp;itemid=32">解决方案类</a></li>

                                <li><a href="/job/info_54.aspx?lcid=6&amp;itemid=91">实施交付类</a></li>

                            </ul>
                        </div>
                    </dd>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=2&amp;itemid=72">
                            <figure>人物</figure>
                            <h1>销售族</h1>
                        </a>
                        <div class="hide_job">
                            <ul class="ul">

                            </ul>
                        </div>
                    </dd>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=1&amp;itemid= ">
                            <figure>人物</figure>
                            <h1>职能族</h1>
                        </a>
                        <div class="hide_job">
                            <ul class="ul">

                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--主题三-->
    <div class="one_m">
        <div class="auto">
            <dl>一身的才华没法施展？<br>赶快<span>加入赞同！</span>一起成就你的<span>BIG梦！</span></dl>
            <div class="detail"><a href="/drjl/upload.aspx?TypeId=57">导入简历</a><a href="/job/index_54.aspx">编辑简历</a></div>
            <div class="tips">注：您可以直接上传已编辑好的简历文档，请选择正确的路径后上传。<br>仅支持Word文档(.doc或.docx)Pdf文档（.pdf），文件大小不要超过500K。</div>
        </div>

    </div>
    <!--主题四-->
    <div class="one_t">
        <div class="about_title">福利待遇</div>
        <ul id="nus">
            <li>
                <figure>
                    <img src="image/b1_mcq.png" title="">
                </figure>
                <span>5天工作制</span>
            </li>
            <li>
                <figure>
                    <img src="image/p2_mcq.png" title="">
                </figure>
                <span>五金一险</span>
            </li>
            <li>
                <figure>
                    <img src="image/p3_mcq.png" title="">
                </figure>
                <span>健康体检</span>
            </li>
            <li>
                <figure>
                    <img src="image/p4_mcq.png" title="">
                </figure>
                <span>带薪年假年终奖</span>
            </li>
            <li>
                <figure>
                    <img src="image/p5_mcq.png" title="">
                </figure>
                <span>人事MM随时谈心</span>
            </li>
            <li>
                <figure>
                    <img src="image/p6_mcq.png" title="">
                </figure>
                <span>入职周年惊喜</span>
            </li>
            <li>
                <figure>
                    <img src="image/p7_mcq.png" title="">
                </figure>
                <span>生日礼物</span>
            </li>
            <li>
                <figure>
                    <img src="image/p8_mcq.png" title="">
                </figure>
                <span>其他</span>
            </li>
            <li>
                <figure>
                    <img src="image/p9_mcq.png" title="">
                </figure>
                <span>年节礼品</span>
            </li>
            <li>
                <figure>
                    <img src="image/p10_mcq.png" title="">
                </figure>
                <span>下午茶</span>
            </li>
            <li>
                <figure>
                    <img src="image/p11_mcq.png" title="">
                </figure>
                <span>部门活动</span>
            </li><li>
            <figure>
                <img src="image/p12_mcq.png" title="">
            </figure>
            <span>丰富多彩的文化活动</span>
        </li>


        </ul>
    </div>
</body>
</html>
<script type="text/template1" id="template1">
    <li>
        <figure>
            <img src="<%= hid %>" title="">
        </figure>
        <span>"<%= hids %>"</span>
    </li>
</script>
<script src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script src="js/rczp.js"></script>
<script>
    (function() {
        var str = $('#template1').html();
        var op = _.template(str);
        $.get('json/mcq1.json',function(data) {
           console.log(1)
            var obj = typeof data == 'object' ? data : eval('(' + data + ')');
            var list = obj.data;
            _.each(list, function(item) {
                var stra = op(item);
                alert(1)
                $('.nus').append($(stra));
            })
        })
    })();
</script>