<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>赞同科技股份有限公司</title>
    <link rel="stylesheet" href="css/rczp.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
    <!--头部栏目-->
    <header>
    <div class="header_box">
        <div class="logo">
            <a href=""></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li class="product">
                    <a href="index2.html">产品</a>
                    <div class="sub_box">
                        <dl>
                            <dd>
                                <div class="imgs">
                                    <a href=""><img src="image/zyx_icon01.png" alt=""></a>
                                </div>
                                <p>咨询服务</p>
                                <div class="lj">
                                    <a href="">了解更多</a>
                                </div>
                            </dd>
                            <dd>
                                <div class="imgs">
                                    <a href=""><img src="image/zyx_icon02.png" alt=""></a>
                                </div>
                                <p>技术平台</p>
                                <div class="lj">
                                    <a href="">了解更多</a>
                                </div>
                            </dd>
                            <dd>
                                <div class="imgs">
                                    <a href=""><img src="image/zyx_icon03.png" alt=""></a>
                                </div>
                                <p>解决方案</p>
                                <div class="lj">
                                    <a href="">了解更多</a>
                                </div>
                            </dd>
                            <dd class="last">
                                <div class="img3">
                                    <a href=""><img src="image/zyx_icon4.png" alt=""></a>
                                </div>
                                <p>关注我们</p>
                                <div class="gz">
                                    <img src="image/zyx_code.jpg" alt="">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li><a href="endorse.html">服务支持</a></li>
                <li><a href="ztzx.html">赞同资讯</a></li>
                <li><a href="rczp.html">人才招聘</a></li>
                <li class="about">
                    <a href="TXL_About Agree.html">关于赞同</a>
                    <div class="sub_box">
                        <dl>
                            <dd class="only">
                                <div class="imgs">
                                    <a href=""><img src="image/zyx_about1.png" alt=""></a>
                                </div>
                                <p>关于赞同</p>
                                <div class="lj">
                                    <a href="">了解更多</a>
                                </div>
                            </dd>
                            <dd>
                                <div class="imgs">
                                    <a href=""><img src="image/zyx_about2.png" alt=""></a>
                                </div>
                                <p>成功案例</p>
                                <div class="lj">
                                    <a href="">了解更多</a>
                                </div>
                            </dd>
                            <dd class="last">
                                <div class="img3">
                                    <a href=""><img src="image/zyx_icon4.png" alt=""></a>
                                </div>
                                <p>关注我们</p>
                                <div class="gz">
                                    <img src="image/zyx_code.jpg" alt="">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
        <div class="lianxi">
            联系我们：010-64731133
        </div>
    </div>
</header>
    <!--侧栏-->
    <div id="menu">
        <ul>
            <li class="l1">
                <span class="activvve">首屏</span>
            </li>
            <li class="l1">
                <span class="activvve">岗位</br>分类 </span>
            </li>
            <li class="l1">
                <span class="activvve">投递 <br> 简历</span>
            </li>
            <li class="l1">
                <span class="activvve">福利 <br>待遇 </span>
            </li>
        </ul>
    </div>
    <!--主题-->
    <div class="one_b">
        <div class="one_c">
            <div class="tit">
                <dl><span>点赞</span>你的生活</dl>
                <dl>从这一份工作开始</dl>
            </div>
            <div class="img">
                <div class="search" id="search" style="display: none;"></div>
                <img src="image/01_mcq.jpg" alt="" style="width:100%;" >
            </div>
            <div class="detail">
                <a href="/job/index_40.aspx" class="cur">社会招聘</a>
                <a href="/job/index_41.aspx">校园招聘</a>
            </div>
        </div>
    </div>
    <!--主题二-->
    <div class="one_q">
        <div class="title">岗位分类</div>
        <div class="ban1">
            <div class="ban_c">
                <dl>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=5&amp;itemid=30">
                            <figure>人物</figure>
                            <h1>管理族</h1>
                        </a>
                    </dd>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=4&amp;itemid=28">
                            <figure>人物</figure>
                            <h1>咨询族</h1>
                        </a>
                    </dd>
                    <dd class="hover">
                        <a href="javascript:void(0);">
                            <figure>人物</figure>
                            <h1>技术族</h1>
                        </a>
                        <div class="hide_job">
                            <ul class="ul">

                                <li><a href="/job/info_54.aspx?lcid=8&amp;itemid=90">研发类</a></li>

                                <li><a href="/job/info_54.aspx?lcid=7&amp;itemid=32">解决方案类</a></li>

                                <li><a href="/job/info_54.aspx?lcid=6&amp;itemid=91">实施交付类</a></li>

                            </ul>
                        </div>
                    </dd>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=2&amp;itemid=72">
                            <figure>人物</figure>
                            <h1>销售族</h1>
                        </a>
                        <div class="hide_job">
                            <ul class="ul">

                            </ul>
                        </div>
                    </dd>
                    <dd>
                        <a href="/job/info_54.aspx?lcid=1&amp;itemid= ">
                            <figure>人物</figure>
                            <h1>职能族</h1>
                        </a>
                        <div class="hide_job">
                            <ul class="ul">

                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--主题三-->
    <div class="one_m">
        <div class="auto">
            <dl>一身的才华没法施展？<br>赶快<span>加入赞同！</span>一起成就你的<span>BIG梦！</span></dl>
            <div class="detail"><a href="/drjl/upload.aspx?TypeId=57">导入简历</a><a href="/job/index_54.aspx">编辑简历</a></div>
            <div class="tips">注：您可以直接上传已编辑好的简历文档，请选择正确的路径后上传。<br>仅支持Word文档(.doc或.docx)Pdf文档（.pdf），文件大小不要超过500K。</div>
        </div>

    </div>
    <!--主题四-->
    <div class="one_t">
        <div class="about_title">福利待遇</div>
        <ul id="nus">
            <li>
                <figure>
                    <img src="image/b1_mcq.png" title="">
                </figure>
                <span>5天工作制</span>
            </li>
            <li>
                <figure>
                    <img src="image/p2_mcq.png" title="">
                </figure>
                <span>五金一险</span>
            </li>
            <li>
                <figure>
                    <img src="image/p3_mcq.png" title="">
                </figure>
                <span>健康体检</span>
            </li>
            <li>
                <figure>
                    <img src="image/p4_mcq.png" title="">
                </figure>
                <span>带薪年假年终奖</span>
            </li>
            <li>
                <figure>
                    <img src="image/p5_mcq.png" title="">
                </figure>
                <span>人事MM随时谈心</span>
            </li>
            <li>
                <figure>
                    <img src="image/p6_mcq.png" title="">
                </figure>
                <span>入职周年惊喜</span>
            </li>
            <li>
                <figure>
                    <img src="image/p7_mcq.png" title="">
                </figure>
                <span>生日礼物</span>
            </li>
            <li>
                <figure>
                    <img src="image/p8_mcq.png" title="">
                </figure>
                <span>其他</span>
            </li>
            <li>
                <figure>
                    <img src="image/p9_mcq.png" title="">
                </figure>
                <span>年节礼品</span>
            </li>
            <li>
                <figure>
                    <img src="image/p10_mcq.png" title="">
                </figure>
                <span>下午茶</span>
            </li>
            <li>
                <figure>
                    <img src="image/p11_mcq.png" title="">
                </figure>
                <span>部门活动</span>
            </li><li>
            <figure>
                <img src="image/p12_mcq.png" title="">
            </figure>
            <span>丰富多彩的文化活动</span>
        </li>


        </ul>
    </div>
<!-- 脚部开始 -->
<footer class="footer">
    <div class="smallWidth">
        <div class="foot">
            <dl>
                <dd>
                    <div><img src='image/hhx_code.jpg' /></div>
                    <p>扫一扫，关注赞同公众号</p>
                </dd>
                <dd class="liebiao">
                    <h1><span>关于我们</span></h1>
                    <p><a href='#'>联系我们</a></p>
                    <p><a href='#'>赞同新闻</a></p>
                    <p><a href='#'>企业招聘</a></p>
                </dd>
                <dd class="liebiao">
                    <h1><span>精选栏目</span></h1>
                    <p><a href='#'>咨询设计</a></p>
                    <p><a href='#'>技术平台</a></p>
                    <p><a href='#'>解决方案</a></p>
                    <p><a href='#'>客户反馈</a></p>
                    <p><a href='#'>视频中心</a></p>
                </dd>
            </dl>
        </div>
        <div class="neironga">
            <ul class="uls">
                <div>联系我们</div>
                <li>咨询热线：010-64731133</li>
                <li><a href='#'>在线客服</a></li>
                <li>邮箱：shichangbu@agree.com.cn</li>
            </ul>
        </div>
        <br>
        <div class="banquan">版权所有:赞同科技股份有限公司<span> <a href="#">备案号：京ICP备14027589号-1</a></span></div>
    </div>
</footer>
<!-- 脚部结束 -->
</body>
</html>
<script type="text/template1" id="template1">
    <li>
        <figure>
            <img src="<%= hid %>" title="">
        </figure>
        <span>"<%= hids %>"</span>
    </li>
</script>
<script src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script src="js/rczp.js"></script>
<script>
    (function() {
        var str = $('#template1').html();
        var op = _.template(str);
        $.get('json/mcq1.json',function(data) {
           console.log(1)
            var obj = typeof data == 'object' ? data : eval('(' + data + ')');
            var list = obj.data;
            _.each(list, function(item) {
                var stra = op(item);
                alert(1)
                $('.nus').append($(stra));
            })
        })
    })();
</script>